* {
  margin: 0;
  padding: 0;
}

.img-container {
  background: url("../images/bg-desktop-light.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
}
.img-dark {
  background: url("../images/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
}
.list-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 20px; 

  transform: translateY(-60%);
  
}

.list-heading {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  width: 500px;
}

.list-heading h1 {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 15px;
  color: #ffffff;
}

.list-heading .fa-solid {
  color: #ffffff;
  font-size: 30px;
}

/* FORM */
.list-form {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  background-color: white;
  width: 540px;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 50px;
}

#iconBtn {
  background-color: transparent;
  border: none;
  outline: none;
}

.iconMoon {
  color: white;
}

.form-input {
  /* background-color: white;
  height: 40px; */
  border: none;
  outline: none;
  margin-left: 10px;
  width: 500px;
  padding: 10px 0;
}
::placeholder {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #494c6b;
  letter-spacing: -0.25px;
}
.form-input {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
  color: #494c6b;
  letter-spacing: -0.25px;
}

.input-item-class {
  width: 100% !important;
}

.input-item-class {
  border-radius: 5px;
  width: 540px;
  padding: 20px;
  border: none;
  background-color: rgba(255, 255, 255);
  margin-top: 30px;
  margin-bottom: 24px;
}

.list-content {
  background-color: rgba(255, 255, 255);
  width: 540px;
  padding: 20px;
  border-radius: 5px;
}

.label-container {
  display: flex;
  flex-direction: column;
}
.list-items {
  display: flex;
  padding-bottom: 15px;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
  color: #494c6b;
  letter-spacing: -0.25px;
}

.list-item {
  margin-left: 10px;
  position: relative;
  top: 3px;
}
.list-radio-btn:checked ~ .list-item {
  text-decoration: line-through;
}

input[type="checkbox"] {
  width: 1.6em;
  height: 1.6em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
input[type="checkbox"]:checked {
  background-color: #8b0ffe;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.list-filter {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 200px;
}
.list-filter a {
  text-decoration: none;
}
.clear-completed a {
  text-decoration: none;
}
/*  */

.list-input-class:checked {
  text-decoration: line-through;
}

/* delete btn */
.delete-btn {
  border: none;
  background-color: #ffffff;
  font-size: 15px;
}

.all-list-elements {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

html[data-theme="dark"] {
  --text-color: #ffffff;
  --background-color: #393a4b;
  --form-bcg-color: #28293b;
}

html[data-theme="light"] {
  --text-color: #505050;
  --background-color: #cacde8;
  --form-bcg-color: #fff;
}

body {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}

.list-form,
.form-input,
::placeholder,
.list-content,
.delete-btn,
.clear-completed a,
.list-items {
  background-color: var(--form-bcg-color) !important;
  color: var(--text-color) !important;
}

ul li a {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 18px;
  letter-spacing: -0.25px;
  color: #505050;
}
#all {
  color: #bf88f4;
}
.clear-completed a {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
  letter-spacing: -0.25px;
  color: #505050;
}

.fa-solid.fa-xmark {
  pointer-events: none;
}

